* {
  box-sizing: border-box;
}
body {
  font-family: 'Cabin', sans-serif;
  background: #f5f5f5;
  color: #505050;
  min-height: 100vh;
  margin: 0;
  padding: 0
}
.container {
  display: flex;
  margin: 20px auto;
  width: 1024px;
  background: #ffff;
  font-size: 18px;
}
.aside {
  width: 32%;
  
}
.aside header {
  margin: 60px 0;
  padding: 0 20px;
  
}
.aside img {
  border-radius: 50%;
  
}
.summary {
  background: #e7c2c1;
  
}
.summary > section {
  position: relative;
  top: -20px;
  padding: 0 20px;
  
}
.summary h3{
  width: 230px;
  padding: 5px 20px;
  text-align: center;
  background: #505050;
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  
}
.contact h2 {
  
}
.main {
  width: 68%;
}
footer {
  background: #505050;
}